# The leds can be annoying. You can disable them.
# The PWR (a red LED) and ACT (a green LED) of the RaspberryPi. Possible variables:
# 'true' to disable the led or any other value like 'false' to skip this role to disable the led.
pwr_led_disabled: true
act_led_disabled: false

# Specify the user default shell you want to use. Possible variables:
# - 'zsh' => it will also install antigen and some plugins.
# - 'bash' => will also install bash-completion
# - 'none' => will skip the shell setup and uses the default setting.
shell: zsh

# Kubernetes
# - Latest stable Release: https://dl.k8s.io/release/stable.txt
k8s_version: v1.17.0

# DuckDNS
duckdns_token: YOUR_DUCKDNS_TOKEN
duckdns_subdomains: YOUR_DUCKDNS_SUBDOMAIN

# Cert-Manager 
# - Upgrade Instructions: https://cert-manager.io/docs/installation/upgrading/
# - Releases: https://github.com/jetstack/cert-manager/releases
cert_manager_version: "v0.12.0"
letsencrypt_mail: YOUR_LETSENCRYPT_MAIL

# nginx-ingress 
# - Releases: https://github.com/kubernetes/ingress-nginx/releases
nginx_ingress_controller_version: 0.26.2

# metallb
# - Releases: https://github.com/danderson/metallb/releases
metallb_version: "v0.8.3"
metallb_address_range: YOUR_METALLB_IP_ADRESS_RANGE f. e. "192.168.178.150-192.168.178.200"